body {
  background-color: #F5F5F5;
  color: #F5F5F5;
}

.row {
  margin: 0px;
}


.block {
  max-width: 1200px;
  margin: 0px auto;
  position: relative;
}

.shadowed {
  -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
  box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
}

#search-bar {
  background-color: #1e2f41;
  padding: 15px;
  position: relative;
}

#search-bar form {
  position: relative;
  color: #1e2f41;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
  box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
}

#search-bar .fa {
  text-shadow: 0px 1px rgba(0, 0, 0, 0.4);
}

.card {
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
  box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
}

#weather-list {
  padding: 12px;
}

#weather-list .city-header {
  color: #1e2f41;
  text-align: center;
  padding: 10px 0px;
  font-weight: bold;
  margin-top: 20px;
}

#weather-list hr {
  margin: 0px;
  max-width: 80px;
  margin: 0 auto;
}

#weather-list .name-plate {
  margin-bottom: 16px;
}

.city-row {
  background-color: #fff;
  color: #464646;
  position: relative;
  text-align: center;
  margin-top: 12px;
  overflow: hidden;
}

.city-row-inner {
  padding: 12px;
}

.city-row:first-child {
  margin-top: 0px;
}

.city-row svg {
  width: 100%;
  height: auto;
}

.city-row .download-icon-container {
  position: absolute;
  padding: 8px;
  left: 10px;
  top: 10px;
  z-index: 100;
}

.city-row .download-icon-container:hover {
  cursor: pointer;
}

.city-row .download-icon {
  /*width: 20px;*/
}

.icon-wrapper {
  text-align: left;
}

.icon-wrapper .icon {
  height: 20px;
  width: 20px;
  line-height: 20px;
  font-size: 10px;
  text-align: center;
  border-radius: 2px;
  color: #fff;
  margin: 0px 4px 0px 0px;
}

.icon-wrapper .save-icon {
  background-color: #1e2f41;
}

.icon-wrapper .close-icon {
  background-color: #e74c3c;
  margin-right: 6px;
}

.icon-wrapper .icon:hover {
  cursor: pointer;
}

#weather-list .city-degrees {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: -1px;
}

.progress-wrapper {
  padding: 0px 40px;
  position: relative;
}

.progress-wrapper:after {
  content: '';
  background-color: #e74c3c;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(50%);
  left: 0px;
  height: 30px;
  width: 30px;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
  box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
}

.label-default {
  background-color: #F24B39;
}

input[type="text"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  border-radius: 4px;
}

input[type="text"]:focus {
  outline: none;
}

input[type="text"] {
  padding: 10px;
  border: none;
  transition: border 0.3s;
}

button[type="submit"] {
  background-color: #F24B39;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #f5f5f5;
  padding: 10px;
  outline: none;
  border: none;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 10;
  height: 100%;
  width: 80px;
}

.chart-wrapper {
  position: relative;
}

.chart-wrapper:before {
  content: '';
  position: absolute;
  top: 12px;
  left: 10px;
  width: 1px;
  height: 70%;
  background-color: #ecf0f1;
}

.chart-wrapper:after {
  content: '';
  position: absolute;
  top: 12px;
  left: 10px;
  height: 1px;
  width: 100%;
  background-color: #ecf0f1;
}

.legend {
  position: absolute;
  color: #cccccc;
  font-weight: 200;
  font-size: 12px;
}

.legend-x {
  top: -4px;
}

.legend.now {
  left: 18px;
}

.legend.mid {
  left: 50%;
}

.legend.later {
  right: 18px;
}

.legend-y {
  left: -16px;
}

.legend-y.max {
  position: absolute;
  top: 16px;
}

.legend-y.min {
  bottom: 32px;
}

.chart-title {
  font-size: 14px;
  position: absolute;
  margin: 0 auto;
  letter-spacing: 2px;
  left: 0px;
  right: 0px;
  bottom: 2px;
}

footer {
  background-color: #1e2f41;
}
