body {
  background-color: #F5F5F5;
  color: #F5F5F5;
}

.row {
  margin: 0px;
}

.city-row svg {
  width: 100%;
  height: auto;
}

.block {
  max-width: 1200px;
  margin: 0px auto;
  position: relative;
}

.shadowed {
  -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
  box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
}

#search-bar {
  background-color: #1e2f41;
  padding: 20px 0px;
  position: relative;
}

#search-bar form {
  position: relative;
  color: #1e2f41;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
  box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
}

#search-bar .fa {
  text-shadow: 0px 1px rgba(0, 0, 0, 0.4);
}

.collapse-search-bar {
  position: absolute;
  left: 0px;
  bottom: 0px;
  font-size: 18px;
  text-align: center;
  line-height: 48px;
  height: 48px;
  width: 48px;
  transform: translateY(50%) translateX(50%);
  background: #F24B39;
  border-radius: 50%;
}

.card {
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
  box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
}

#weather-list .city-header {
  color: #1e2f41;
  text-align: center;
  padding: 10px 0px;
  font-weight: bold;
  margin-top: 20px;
}

#weather-list hr {
  margin: 0px;
}

#weather-list .city-row {
  background-color: #fff;
  color: #1e2f41;
  text-align: center;
  padding: 20px 0px;
  margin-top: 20px;
}

#weather-list .city-degrees {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: -1px;
}

.label-default {
  background-color: #F24B39;
}

input[type="text"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  border-radius: 4px;
}

input[type="text"]:focus {
  outline: none;
}

input[type="text"] {
  padding: 10px;
  border: none;
  transition: border 0.3s;
}

button[type="submit"] {
  background-color: #F24B39;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #f5f5f5;
  padding: 10px;
  outline: none;
  border: none;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 10;
  height: 100%;
  width: 80px;
}

footer {
  background-color: #1e2f41;
}
